.container {

    height: 100vh;
    width: 100%;

}

.main-1 {
    height: 10vh;
    width: 100%;

}

.p1 {
    color: black;
    text-align: center !important;
    font-weight: bolder;
    font-size: 50px;
    font-family: 'Arial';
}




.div2 {
    background-color: transparent;
    width: 45%;
    height: 6vh;
    border: 1px solid black;

    margin-left: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 50px;
    font-family: 'Arial';
    background-color: maroon;

}

.div3 {

    font-family: 'Arial';
    font-weight: bold;
    box-sizing: border-box;
    width: 100%;
    height: 94vh;

}

.p3 {
    padding: 3px;

}

.div11 {
    background-color: gray;
    width: 30%;
    height: 40vh;
    border: 1px solid black;
    float: right;
    height: 40vh;
    box-sizing: border-box;
}

.div111 {
    background-color: gray;
    width: 30%;
    height: 40vh;
    border: 1px solid black;
    margin-right: 3.333333333333333%;
    box-sizing: border-box;
    float: right;

}

.div1 {
    background-color: gray;
    width: 30%;
height: 40vh;
    border: 1px solid black;
box-sizing: border-box;
    float: left;

}

.p22 {
    padding: 3px;
}

.div22 {
    background-color: transparent;
    width: 45%;
    height: 6vh;
    border: 1px solid black;

    margin-left: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 50px;
    font-family: 'Arial';
    background-color: bisque;

}

.div222 {
    background-color: transparent;
    width: 45%;
    height: 6vh;
    border: 1px solid black;

    margin-left: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 50px;
    font-family: 'Arial';
    background-color: red;

}

.p3 {
    padding: 3px;
}

@media (max-width:767px) {
    .div1 {
        background-color: gray;
        width: 100%;
        box-sizing: border-box;
        border: 1px solid black;
        height: 60vh;
        margin-top: 10%;
height: 60vh;
    }

    .div2 {
        background-color: transparent;
        width: 56%;
        height: 7vh;
        border: 1px solid black;

        margin-left: 44%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bolder;
        font-size: 40px;
        font-family: 'Arial';
        background-color: maroon;

    }

    .div11 {
        background-color: gray;
        width: 100%;
        height: 60vh;
        box-sizing: border-box;
        border: 1px solid black;

        margin-top: 10%;

    }

    .div3 {

        font-family: 'Arial';
        font-weight: bold;
        box-sizing: border-box;
        width: 100%;

     

    }

    .div111 {
        background-color: gray;
        width: 97%;
        height: 60vh;
border: 1px solid black;
margin-right: 0%;
        margin-top: 10%;

    }

    .div222 {
        background-color: transparent;
        width: 50%;
        height: 7vh;
        border: 1px solid black;

        margin-left: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bolder;
        font-size: 40px;
        font-family: 'Arial';
        background-color:bisque ;

    }
    .div22{
    background-color: transparent;
    width: 50%;
    height: 7vh;
    border: 1px solid black;

    margin-left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 40px;
    font-family: 'Arial';
    background-color: red;

}

}

@media (min-width:768px){
    .div1 {
        background-color: gray;
        width: 49% !important;
      
        border: 1px solid black;
    box-sizing: border-box;
        margin-top: 10%;
       height: 40vh;
    }

    .div2 {
        background-color: transparent;
        width: 56%;
        height: 7vh;
        border: 1px solid black;

        margin-left: 44%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bolder;
        font-size: 40px;
        font-family: 'Arial';
        background-color: maroon;

    }

    .div11 {
        background-color: gray;
        width: 49%;
        box-sizing: border-box;
        border: 1px solid black;
float: right;
        margin-top: 10%;
        height: 40vh;
    }

    .div3 {

        font-family: 'Arial';
        font-weight: bold;
        box-sizing: border-box;
        width: 100%;

        overflow: auto;

    }

    .div111 {
        background-color: gray;
        width: 100%;
        margin-right: 0%;
border: 1px solid black;

        margin-top: 10%;

    }

    .div222 {
        background-color: transparent;
        width: 50%;
        height: 7vh;
        border: 1px solid black;

        margin-left: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bolder;
        font-size: 40px;
        font-family: 'Arial';
        background-color:bisque;

    }
    .div22{
    background-color: transparent;
    width: 50%;
    height: 7vh;
    border: 1px solid black;

    margin-left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 40px;
    font-family: 'Arial';
    background-color: red;

}

}
